<html lang="en">
    <head>
        <title>Manhunt</title>
        
        <!-- Load scripts. -->
        <script src="/public/main.js"></script>
        <script src="/public/runner.js"></script>
        <script src="/public/hunter.js"></script>

        <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    </head>

    <body>
        <button onclick="getLocation()">get location</button>
        
        <!-- This is where UI elements are placed. -->
        <div id="ui">
            
        </div>
        
        <!-- This is where the map is placed. -->
        <div id="map"></div>
    </body>
</html>